<div class="app">
  <div class="app__main">
    <mat-card>
      <table mat-table [dataSource]="grades">
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>Punkty</th>
          <td mat-cell *matCellDef="let grade">{{ grade.points }}</td>
        </ng-container>
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef>Procent</th>
          <td mat-cell *matCellDef="let grade">{{ grade.percentage }}</td>
        </ng-container>
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef>Ocena</th>
          <td mat-cell *matCellDef="let grade">{{ grade.grade }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
    </mat-card>
  </div>
  <div class="app__options">
    <mat-card>
      <div class="base">
        <mat-form-field>
          <mat-label>Punkty</mat-label>
          <input matInput type="number" [(ngModel)]="maxPoints" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Krok</mat-label>
          <input matInput type="text" [(ngModel)]="step" />
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="ranges">
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Od [%]</th>
          <td mat-cell *matCellDef="let range">{{ range.value }}</td>
        </ng-container>
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef>Ocena</th>
          <td mat-cell *matCellDef="let range">
            <div class="grade">
              {{ range.grade }}
              <button mat-raised-button color="warn">Usuń</button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="add-btn">
        <button mat-raised-button color="primary" 
        (click)="openAddDialog()">Dodaj zakres i  ocenę</button>
      </div>
    </mat-card>
  </div>
</div>
{{ grades | json }}