.app {
    padding: 20px;
    display: flex;
    width: 100%;
    max-width: 1200px;

    &__main {
        flex-basis: 50%;
        flex-grow: 1;
        padding: 20px;
    }

    &__options {
        padding: 20px;
        flex-basis: 40%;
        flex-grow: 1;

        .base {
            display: flex;
            justify-content: space-between;
        }

        .grade {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .add-btn {
            margin-top: 10px;
            text-align: center;
        }
    }

    table {
        width: 100%;
    }
}